{% extends 'collection/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="container main">
    <div class="glass">
      <h1 class="" style="text-align:center; color:rgb(0, 255, 0);" >Login</h1>
      <form class="form-register"  method="post">
        {%csrf_token%}
        <table class="" style="color:rgb(0, 255, 0);">
          {{form}}
        </table>
        <button class="btn btn-outline-success" name="button" type="submit" style="float: right; margin-top:10px; color:rgb(0, 255, 0);border-color: rgb(0, 255, 0);">Login</button>
      </form>
    </div>
  </div>

{% endblock %}
