{% extends 'collection/base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
  <div class="container main">
    <div style="background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.28);

    padding:5% 5% ;
">
      <h1 style="color:rgb(255, 0, 0)">Email sent successfully</h1>
    </div>
  </div>
{% endblock %}
