{% extends 'collection/base.html' %}

{% block title %}
{{title}}
{% endblock %}
{% block content %}


  <div class="container main">
      <div class="ButtonContainers">
          <a style="--ColorButton: rgb(0, 255, 0);" class="LinkButton" href="{% url 'login' %}"><button>login</button></a>
          <a style="--ColorButton: rgb(255, 255, 0);" class="LinkButton" href="{% url 'reg' %}"><button>registration</button></a>
          <a style="--ColorButton: rgb(255, 0, 0);" class="LinkButton" href="#"><button>forgot password</button></a>
      </div>
  </div>
{% endblock %}
