{% extends 'collection/base.html' %}
{% load static %}
{% block title %}
  Collection
{% endblock %}
{% block content %}
<div class="container main" style="position:relative; height: 35px;" >
  <h1 class="pt-2" style="color:white; position:absolute ; top:0 ">Collector: <span style="color:#30d5c8;"><i>{{user.username}}</i></span></h1>
</div>
<div id='form-wrap' class='glass'>
  <form role="form" action="" autocomplete="off" method="POST" style="position:relative">
    {% csrf_token %}
    <table class="addtable" style="width:auto;">
      {{form}}
    </table>
    <button type="submit" class='btn btn-outline-success' style='position:absolute;right:0px'>Add</button>
  </form>
</div>
<!-- Slider -->
<section class="swiper-container">
  <div class="swiper-wrapper">
    {%for item in NFT_Collection%}
  		<div class="swiper-slide" style="background-image:url('{{ item.cardsUrl }}')">
  			<div class="swiper-content" style=>
  				<p class="swiper-title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">{{ item.cardsName }}</p>
  				<span class="swiper-caption" data-swiper-parallax="-20%">{{ item.cardsDescription }}</span>
  			</div>
      </div>
    {%endfor%}
  </div>
	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev swiper-button-white"></div>
	<div class="swiper-button-next swiper-button-white"></div>
</section>

{% endblock %}
{% block Scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.1.2/swiper-bundle.min.js"></script>
  <script type="text/javascript" src='{% static "collection/main.js" %}'></script>

{% endblock %}
